@keyframes ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

@keyframes ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loaderEllipsis,
.loaderRing {
  display: inline-block;
  width: 25px;
  height: 25px;
}

.loaderEllipsis {
  position: absolute;
  div {
    position: absolute;
    top: 33px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: var(--gray-600);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);

    &:nth-child(1) {
      left: 8px;
      animation: ellipsis1 0.6s infinite;
    }

    &:nth-child(2) {
      left: 8px;
      animation: ellipsis2 0.6s infinite;
    }

    &:nth-child(3) {
      left: 32px;
      animation: ellipsis2 0.6s infinite;
    }

    &:nth-child(4) {
      left: 56px;
      animation: ellipsis3 0.6s infinite;
    }
  }
}

.loaderRing {
  position: relative;
  div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 25px;
    height: 25px;
    margin: 2px;
    border: 2px solid var(--white);
    border-radius: 50%;
    animation: ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: var(--white) transparent transparent transparent;

    &:nth-child(1) {
      animation-delay: -0.45s;
    }

    &:nth-child(2) {
      animation-delay: -0.3s;
    }

    &:nth-child(3) {
      animation-delay: -0.15s;
    }
  }
}

