.mainContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.mainWropper {
  max-width: 800px;
  margin: 0 auto;
  width: 100%;

  .mainContent {
    background-color: var(--white);
    padding: 4.4rem 3.8rem;

    @media only screen and (max-width: 768px) {
      padding: 2.4rem 1.5rem 4.4rem;
    }
  }
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.posts {
  margin-top: 34px;

  article {
    margin: 20px auto;
  }
}

.buttonFetchMore {
  align-items: center;
  background-color: transparent;
  border: 1px solid var(--black);
  display: flex;
  font-size: 1.4rem;
  font-weight: bold;
  height: 45px;
  text-transform: uppercase;
  margin: 15px auto 0;
  justify-content: center;
  transition: all 0.3s;
  width: 320px;

  @media only screen and (max-width: 768px) {
    height: 40px;
  }

  &:hover {
    background-color: var(--black);
    color: var(--white);
  }
}