.mainContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.mainWropper {
  max-width: 800px;
  margin: 0 auto;
  width: 100%;

  .mainContent {
    background-color: var(--white);
    padding: 4.4rem 3.8rem;
  }
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.posts {
  margin-top: 34px;

  article {
    margin: 45px auto;
  }
}