.headerContainer {
  background-color: var(--black);
  padding: 2.7rem 3.7rem;
  width: 100%;

  h1 {
    color: var(--white);
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 25px;
  }
}