.modalCloseButton {
  align-items: center;
  background-color: var(--white);
  border: none;
  display: flex;
  height: 32px;
  justify-content: center;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 32px;
}